@{
    ViewData["Title"] = "About";
}
<body style="background-color:lightsteelblue">

</body>

<div class="text-left">
    <br><br><br>
    <b>Enjoyyyyyyy meeee mini project.. learning .NET Core!</b>
</div>




